extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Precious C. Chukwuemeka

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hello, I am Precious C. Chukwuemeka, a Treehouse Full Stack JavaScript trainee, assigned to Verizon as a web developer apprentice through APR consulting.
            | I have a passion for a career in Technology, computers and software, including intensive hands-on training in all the skills listed above.  
            | I am interested in applying learning experience to real-world projects in the fast paced Tech world.  
             
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li node.js
          li JQuery
          li JavaScript
          li CSS 
          li HTML
          li OOP
          li API requests
          li AJAX
          li Git
        h6 Contact Info

        ul
          li 469-207-6921
          li Preciouschukwuemeka333@gmail.com

        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/Preciouschukwuemeka',target='_blank') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  